{% extends 'glowny.html' %}

{% load bootstrap %}

{% block title %}Zaloguj sie {% endblock %}

{% block body %}

    <div class="container-login">

        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Zaloguj sie</h5>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-light grey-background white">Login <i class="fas fa-sign-in-alt"></i></button>

            </form>
          </div>
        </div>
    </div>

{% endblock %}