body {
    background-color: #cccccc;
}

img {
    width: 150px;
    float: left;
}

.card {
    width: 800px;
}

.desc {
    margin-left: 15px;
}

.jumbotron {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: black;
}

.card {
    margin-bottom: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.grey-background {
    background-color: #a6a6a6;
}

.white {
    color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
}

.btn-block {
    width: 800px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right:auto;
}

.alert {
    margin-left: 30px;
    margin-right: 30px;
}

.row {
    padding-left: 15px;
}

.footer_links {
    color: black;
    font-weight: bold;
}

.c_footer {
    color: black;
    font-weight: bold;
}

a:hover {
    color: #FCC127;
}

.reccomend {
    margin-left: auto;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FCC127;
    letter-spacing: 2px;
    text-shadow: 1px 1px #ff9933;
}

.card-body {
    background-color: #f2f2f2;
}