body {
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    margin: 0;
}

img {
    width: 150px;
    float: left;
}

.card {
    width: 100%;
    box-shadow: -5px 5px  5px #888888;
    margin-bottom: 20px;
}

.desc {
    margin-left: 15px;
}

.jumbotron {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: -5px 5px  5px #888888;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
    font-size: 25px;
    line-height: 35px;
    font-family: Helvetica;
}

h4.movie-title {
    color: black;
    font-size: 30px;
    }

.container-cards {
    width: 70%;
    margin: auto;
}

.container-login {
    width: 50%;
    margin: auto;
}

.container-form {
    width: 55%;
    margin: auto;
}

.grey-background {
    background-color: #a6a6a6;
    box-shadow: -2px 2px  2px #888888;

}

.white {
    color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
}

.btn-block {
    width: 100%;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px 5px  5px #888888;
    color: #404040;
}

.alert {
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: -5px 5px  5px #888888;

}

.row {
    padding-left: 15px;
}

.footer_links {
    color: black;
    font-weight: bold;
}

.c_footer {
    color: black;
    font-weight: bold;
}

a:hover {
    color: #FCC127;
}

.reccomend {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #FCC127;
    letter-spacing: 2px;
    text-shadow: -1px 1px #ff9933;
}

.card-body {
    background-color: #f2f2f2;

}


.mb-0 {
    letter-spacing: 1px;
    font-family: Gill Sans;
    font-size: 20px;
}

.b-login {
    box-shadow: -3px 3px  3px #888888;
}

.by-author {
    margin-right: 70px;
    margin-left: auto;
    font-size: 10px;
}