body {
    padding: 50px;
    background-color: #cccccc;
}

img {
    width: 150px;
    float: left;
}

.card {
    width: 700px;
}

.desc {
    margin-left: 15px;
}

.jumbotron {
    background-color: #a6a6a6;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: black;
}

.card {
    margin-bottom: 20px;
    width:700px;
}