{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://sonny-skyez.s3.eu-west-3.amazonaws.com/static/Thumbnails/thumb.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'moj.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Movie Rater App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'wszystkie_filmy' %}">Strona główna
              <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'nowy_film' %}">Dodaj film</a>
          <a class="nav-item nav-link" href="https://github.com/Sonny-skyez" target="_blank"
             rel="noopener noreferrer">GitHub</a>
          <a class="nav-item nav-link" href="https://github.com/Sonny-skyez/Movierater-Django_2.0"
             target="_blank" rel="noopener noreferrer">Code!</a>
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/krzysztof-brymer/"
             target="_blank" rel="noopener noreferrer">LinkedIn</a>
          <a class="nav-item nav-link active" href="https://polls-application.herokuapp.com/polls/" target="_blank"
             rel="noopener noreferrer">Polls project</a>
          <a class="nav-item nav-link" href="{% url 'admin:index' %}" style="position: absolute; right: 15px">
              Admin</a>
        </div>
      </div>
    </nav>


    {% block body %} {% endblock %}


    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark" style="background-color: #8c8c8c; margin-top: 30px">

      <div style="background-color: #FCC127;">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Zapraszam do kontaktu w social mediach:</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- GitHub -->
              <a class="fb-ic" href="https://github.com/Sonny-skyez" style="color: black" target="_blank"
                 rel="noopener noreferrer">
                <i class="fab fa-github white-text mr-4"></i>
              </a>
              <!--Linkedin -->
              <a class="li-ic" href="https://www.linkedin.com/in/krzysztof-brymer/" style="color: black"
                 target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in white-text mr-4"></i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" href="https://www.instagram.com/ponury_szalbierca/" style="color: black"
                 target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram white-text"></i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">O autorze</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Jestem programistą-hobbistą poszukującym pracy jako:<br>Junior Python Developer /<br>
              Software Tester.</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Portfolio</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="footer_links" href="https://polls-application.herokuapp.com/polls/" target="_blank"
                 rel="noopener noreferrer">
                Polls project</a>
            </p>
            <p>
              <a class="footer_links" href="https://github.com/Sonny-skyez/Py.test_-_Twitter_with_unittests"
                 target="_blank" rel="noopener noreferrer">
                Twitter with tests</a>
            </p>
            <p>
              <a class="footer_links" href="https://github.com/Sonny-skyez/CSV_Report_Processing"
                 target="_blank" rel="noopener noreferrer">
                Report processing</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Linki</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="footer_links" href="{% url 'wszystkie_filmy' %}">
                Strona główna</a>
            </p>
            <p>
              <a class="footer_links" href="https://intl.startrek.com/" target="_blank"
                 rel="noopener noreferrer">Star Trek Official</a>
            </p>
            <p>
              <a class="footer_links" href="https://www.wykop.pl/" target="_blank" rel="noopener noreferrer">
                Wykop.pl</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Sosnowiec, 41-208, PL</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> krzysztof.brymer@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> + 48 510 290 018</p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a class="c_footer" href="https://github.com/Sonny-skyez" target="_blank" rel="noopener noreferrer">
          Krzysztof Brymer</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->



</body>
</html>