{% extends 'glowny.html' %}
{% load bootstrap %}
{% load static %}
 {% block title %} Lista filmow {% endblock %}

{% block body %}


    <div class="jumbotron">
      <h1 class="display-4">
          {% if user.is_authenticated %}
            Witam {{ user.username }}
            <a class="btn btn-light btn" href="{% url 'logout' %}">logout</a>
          {% else %}
          Movie Rater App
            <a class="btn btn-light btn" href="{% url 'login' %}">login</a>
          {% endif %}

      </h1>
        <hr class="my-3">
        <h2>Lista polecanych filmów:
        <a class="btn btn-light" href="{% url 'admin:index' %}"><i class="fas fa-users-cog"></i> Admin</a>
        </h2>
    </div>


    <a href="{% url 'nowy_film' %}"><i class="btn btn-secondary btn-lg btn-block"
                                   style="width: 700px; margin-bottom:10px;">+ Nowy film</i></button>


        {% for film in filmy %}

        <div class="card">

              <div class="card-body">

                  <img src="{{ film.photo.url }}">

                      <div class="row">
                          <div class="col-sm-9">
                              <h3>{{film}}</h3>
                          </div>
                          <div class="col-sm-3">
                              <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-edit"></i></a>
                              <a href="{% url 'usun_film' film.id %}"><i class="fas fa-trash-alt"></i></a>
                          </div>
                      </div>
                      <div class="row">

                          <p class="desc">{{ film.description }}</p>

                      </div>

              </div>
        </div>

        {% endfor %}

{% endblock %}