{% extends 'glowny.html' %}

{% load bootstrap %}

 {% block title %} Lista filmow {% endblock %}

{% block body %}

    <div class="jumbotron">
      <h1 class="display-4">
          {% if user.is_authenticated %}
            Witam {{ user.username }}<br>
            <a class="btn btn-primary btn" href="{% url 'logout' %}">logout</a>
          {% else %}
          Movie Rater App
            <a class="btn btn-primary btn" href="{% url 'login' %}">login</a>
          {% endif %}

      </h1>
        <hr class="my-4">
        <h2>Lista filmow</h2>

    </div>


    <a href="{% url 'nowy_film' %}">Nowy film <i class="fas fa-plus-circle"></i></a>

        {% for film in filmy %}

        <div class="card">

              <div class="card-body">

                  <img src="/media/{{film.photo}}">

                      <div class="row">
                          <div class="col-sm-9">
                              <h2>{{film}}</h2>
                          </div>
                          <div class="col-sm-3">
                              <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-2x fa-edit"></i></a>
                              <a href="{% url 'usun_film' film.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
                          </div>
                      </div>
                      <div class="row">

                          <p class="desc">{{ film.description }}</p>

                      </div>

              </div>
        </div>

        {% endfor %}

{% endblock %}