{% extends 'glowny.html' %}
{% load bootstrap %}
{% load static %}
 {% block title %} Movie Rater - index {% endblock %}

{% block body %}


    <div class="jumbotron text-center">
      <h1 class="display-4">
          {% if user.is_authenticated %}

              Witam, {{ user.username }}
            <a class="btn btn-light btn-lg b-login" href="{% url 'logout' %}" style="padding: 15px; color: #8c8c8c">
                Wyloguj się</a>

          {% else %}

            Movie Rater App
            <a class="btn btn-light btn-lg b-login" href="{% url 'login' %}" style="padding: 15px; color: #8c8c8c">
                Zaloguj się</a>

          {% endif %}

      </h1>
        <hr class="my-3">
        <h3>Polecaj ulubione swoje ulubione filmy całemu światu!<br>
            I odradzaj to, na co czasu tracić nie warto.
        </h3>
    </div>



    <div class="container-cards">

        <a href="{% url 'nowy_film' %}" class="btn btn-warning btn-lg btn-block">
        <i class="far fa-plus-square" style=
        "margin-right: 10px"></i> Dodaj film <i class="far fa-plus-square" style=
        "margin-left: 10px"></i></a>


        {% for film in filmy %}

        <div class="card">

              <div class="card-body">

                  <img src="{{ film.photo.url }}">

                      <div class="row">
                          <div class="col-sm-11">
                              <h3 class="movie-title">{{film}}</h3>
                          </div>
                          <div class="col-sm-1">
                              <a href="{% url 'edytuj_film' film.id %}"><i class="fas fa-edit" style="color:#666666"></i></a>
                              <a href="{% url 'usun_film' film.id %}"><i class="fas fa-trash-alt" style="color:#666666"></i></a>
                          </div>
                      </div>
                      <div class="row" style="padding-right: 40px">

                          <p class="desc">{{ film.description }}</p>

                      </div>

                      <div class="row" style="padding-right: 40px">
                          <p class="reccomend">{{ film.reccomendation }}</p>


                      </div>

              </div>
        </div>

        {% endfor %}


    </div>

{% endblock %}